body{
    background-color: rgb(62, 112, 112);
}

img{
    border-radius: 100px;
}


h1{
    color:  rgb(182, 182, 49);
    }

.educacion{
    color:rgb(34, 153, 201);
}

#secondId{
    background-color:mediumaquamarine;
}

